# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.pyc

# Banco SQLite
db.sqlite3

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store

# Static
staticfiles/

# Env
.env

.venv/
__pycache__/
*.pyc
db.sqlite3