{% extends 'base_produtor.html' %}

{% block content %}

<h3>Funcionários</h3>

<form method="POST">
    {% csrf_token %}

    <select name="funcionario">
        {% for f in funcionarios %}
            <option value="{{ f.id }}">
                {{ f.username }}
            </option>
        {% endfor %}
    </select>

    <select name="propriedade">
        {% for p in propriedades %}
            <option value="{{ p.id }}">
                {{ p.nome }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">
        Vincular
    </button>

</form>

<hr>

<table class="table">

    <thead>
        <tr>
            <th>Funcionário</th>
            <th>Propriedade</th>
        </tr>
    </thead>

    <tbody>

        {% for v in vinculos %}

        <tr>
            <td>{{ v.funcionario }}</td>
            <td>{{ v.propriedade }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}